.container {
	margin: 20px auto;
}

.loading {
	background-image: url(../img/ajax-loader.gif);
	background-repeat: no-repeat;
	padding-left: 20px;
}

.toolbar-top.btn-group .btn {
	border-bottom: 0;
	border-bottom-left-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
}

pre {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	margin: 0;
}

.toolbar-bottom {
	margin-top: -1px;
	display: block;
	padding-right: 79px;
	margin-right: 33px;
}

.toolbar-bottom .input-block-level {
	border-top-left-radius: 0;
	width: 100% !important;
}

.toolbar-bottom .btn {
	width: 80px;
	border-top-right-radius: 0 !important;
}

.toolbar-bottom .btn:last-child .icon-arrow-up {
	margin-right: -8px;
	position: relative;
	right: 5px;
}

.toolbar-bottom .btn:last-child {
	width: auto;
	padding-right: 8px;

}

.span9 {
	float: right;
}

.nodev-mode {
	display: none;
}

@media (max-width: 767px) {
	.affix {
		position: relative;
	}
}
