.btn-group > .btn:first-child {
	border-bottom-left-radius: 0;
}

.btn-group > .btn:last-child {
	border-bottom-right-radius: 0;
}

.btn-group > .btn {
	border-bottom: 0;
}

.label {
	position: relative;
	bottom: 4px;
}

pre {
	border-top-left-radius: 0;
}

.container {
	margin: 20px auto;
}

.nav {
	padding-top: 8px;
	margin-top: 10px;
}

.loading {
	background-image: url(../img/ajax-loader.gif);
	background-repeat: no-repeat;
	padding-left: 20px;
}
