.btn-group .btn:first-child {
	border-bottom-left-radius: 0;
}

.btn-group .btn:last-child, .input-prepend input {
	border-bottom-right-radius: 0;
}

.btn-group .btn {
	border-bottom: 0;
}

.btn-group .input-prepend .btn {
	border-left: 0;
}

.label {
	position: relative;
	bottom: 4px;
}

pre, .btn-group .input-prepend .btn {
	border-top-left-radius: 0;
}

.container {
	margin: 20px auto;
}

.nav {
	padding-top: 8px;
	margin-top: 10px;
	margin-left: -50px;
}

.loading {
	background-image: url(../img/ajax-loader.gif);
	background-repeat: no-repeat;
	padding-left: 20px;
}

.input-prepend {
	margin-bottom: 0;
	position: relative;
	top: 1px;
}
